# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [ ]:
number_float = 2.3

print(number_float)

#### Performing Calculations on ints and floats

##### Addition

In [1]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

#shorthand version
result += 2 # result = result + 2

7.4

##### Subtraction

In [2]:
result_diff = num2 - num1
print(result_diff)

#short-hand version
result_diff -= 1
print(result_diff)

3.4000000000000004

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [4]:
result_div = num2 / num1
print(result_div)

#short-hand version
result_div /=2
print(result_div)

2.7
1.35

##### Floor Division

In [3]:
result_floor = num2 // num1
print(result_floor)

#short hand version
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [6]:
result_mod = num2 % num1
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [7]:
square = num1 ** 2
print(square)

#short-hand version
square **= 2
print(square)

4
16

### String Input-Output

##### String Assignment

In [8]:
name = "edward"
print(name)

edward

##### print() <br>
<p>Don't forget about end=' '</p>

In [10]:
print("this is my first name: ", name)

print("this is my FULL name: ", name, end="salcido")

this is my first name:  edward
this is my FULL name:  edwardslacido

##### String Concatenation

In [15]:
first_name = "edward"
last_name = "smith"

full_name = first_name +" "+ last_name
print(full_name)

#short-hand version
full_name += "jr"
print(full_name)

edward smith
edward smithjr

##### Type Conversion

In [14]:
number = "32"

print(type(number), number)

#change the data type
change_type = int(number)

print(type(change_type), number)

<class 'str'> 32
<class 'int'> 32

##### input()

In [18]:
#name = input("what is your name?")

#print(name)

#Input ALWAYS returns a string

age = int(input("what is your age?: "))

add_age = age + 1
print(add_age)

what is your age?: 31
32

##### format()

In [20]:
age = input("what is your age?: ")

result_string = "you are {} and you are getting wiser! ".format(age)
print(result_string)

result_again = f"{age} is a great time in life!!"
print(result_again)

what is your age?: 31
you are 31 and you are getting wiser!
31 is a great time in life!!

##### Old Way (python 2)

In [21]:
result_string2 = "you are %s and you look great for your age!" %age
print(result_string2)

you are 31 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [23]:
color = input("what color is your car?: ")

result_string = "The cars color is {} and the year 2019, make is honda, and model is cr-v".format(color)
print(result_string)

what color is your car?: blue
The cars color is blue and the year 2019, make is honda, and model is cr-v

### If Statements

In [25]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("equal value")
else:
    print("not equal")

if num2>= num1:
    print("num2 is greater")
elif num1 <= num2:
    print("num1 is less than")

not equal
num2 is greater

##### 'is' keyword

In [30]:
num3 = 55

if num3 is 55:
    print("this is the exact number and object")

this is the exact number and object

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-30-cfe2d9720c78>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [32]:
# check if char is in char_name

char_name = "max payne"

if "max" in char_name:
    print("the character who lost everything...")

the character who lost everything...

##### 'not in' keyword'

In [33]:
sega_char = "sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [43]:
street = input("what color is your car?: ")
result_string = "your car color is {} purple".format(color)


if 'p' not in sega_char:
    print(result_string)

what color is your car?: purple
your car color is 2017 purple

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with "and" statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true AND true")
    
#if with "or" statement
if num_11 . num_12 or num_13 == num_14:
    print("True OR False")

### Elif Statements

In [ ]:
first_name = "max"

if first_name == "smith":
    print ("the name is smith")
elif first_name != "max":
    print("the name is not max")
else:
    print("the name is max")

### Else Statements

In [ ]:
# see above

### For Loops

In [46]:
# for keyword, counter, in keyword, condition

for i in range(10):
    print(i)
    
for letter in first_name:
    print(letter)
    
for letter in range(len(first_name)):
    print(first_name[letter])

0
1
2
3
4
5
6
7
8
9
e
d
w
a
r
d
e
d
w
a
r
d

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [48]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [49]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

##### Double For Loops

In [53]:
for i in range(5):
    for j in range(5):
        print("i = ",i, "j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [54]:
#while keyword, condition statement
# based on the conditional statement

num = 0

while num <10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [56]:
game_over = False

while True:
    print('sonic Rings')
    if game_over == False:
        break

sonic Rings

##### While & For Loops Used Together

In [58]:
num = 0

while num < 5:
    print('\n While Loop Iteration: ' + str(num))
    
    for i in range(2):
        print('For Loop Iteration: ' + str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>